# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Internet_User_Services/nbproject/private/private - Copy.properties
Internet_User_Services/nbproject/private/private - Copy.xml
Intranet_User_Services/nbproject/build-impl - Copy.xml
Intranet_User_Services/nbproject/genfiles - Copy.properties
Intranet_User_Services/nbproject/private/private - Copy.properties
Intranet_User_Services/nbproject/private/private - Copy.xml
Intranet_User_Services/nbproject/project - Copy.properties
Internet_User_Services/nbproject/private/private.xml
Internet_User_Services/nbproject/private/private.properties
Intranet_User_Services/nbproject/build-impl.xml
Intranet_User_Services/nbproject/genfiles.properties
Intranet_User_Services/nbproject/private/private.properties
Intranet_User_Services/nbproject/private/private.xml
Intranet_User_Services/nbproject/project.properties
Intranet_User_Services/nbproject/jax-ws.xml
Intranet_User_Services/nbproject/jaxws-build.xml
Intranet_User_Services/nbproject/jax-ws.xml
Intranet_User_Services/nbproject/build-impl.xml
Intranet_User_Services/nbproject/private/private.xml
*.pyc
*.pyc
*.sqlite3

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.pyc
PYTHON/venv/.idea/workspace.xml
*.pyc